{% extends 'base.html' %}
{% block title %} SignUp {% endblock %}

{% block header %} Register here {% endblock %}
{% block content %}
    <form action="" method="post">

        {% csrf_token %}
        <fieldset class="form-group">
            {{ user_form.as_p }}
        </fieldset>

        <button type="reset" class="btn btn-secondary" required style="margin:10px 10px auto">Reset</button>

        <button type="submit" class="btn btn-primary" required style="margin:10px 10px auto">Register</button>
    </form>
{% endblock %}

