{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}

{% block header %}
    Dashboard
{% endblock %}

{% block logout %}
    <div class="col-md-1">
        <a href="{% url 'user:logout' %}">Logout</a>
    </div>
{% endblock %}

{% block content %}
    <div id='shop' class="container row">
      {% for plant in plants %}
        <div class="center col s12 m12 l4" style="margin-top: 50px;">
          <div class="card">
            <div class="card-image">
              <img src="{{ plant.image.url }}" style="height: 300px;">
              <span class="card-title white-text">{{ plant.name|title }}</span>
              <a class="btn-floating halfway-fab waves-effect waves-light green darken-4" href="{% url 'nurseryapp:cart_action' plant.id 1 %}"><i class="material-icons">add_shopping_cart</i></a>
            </div>
            <div class="card-content">
              <left>
                <p>{{ plant.description }}</p>
                <p>By {{ plant.manager.nursery }}</p>
                <p>Rs. {{ plant.price }}</p>
              </left>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
