{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}

{% block header %}
    Dashboard
{% endblock %}

{% block logout %}
    <div class="col-md-1">
        <a href="{% url 'user:logout' %}">Logout</a>
    </div>
{% endblock %}

{% block content %}
    <div id='shop' class="container row">
      {% for plant in plants %}
        <div class="center col s12 m12 l4" style="margin-top: 50px;">
          <div class="card">
            <div class="card-image">

              <span class="card-title white-text"><b>{{ plant.name|title }}</b></span><br>
                <img src="{{ plant.image.url }}" style="height: 300px;"><br>
              <a class="btn btn-primary" href="{% url 'user:cart_action' plant.id 1 %}"><b class="material-icons" style="margin:10px 10px auto">Add to cart</b></a>
            </div>
            <div class="card-content">
              <left>
                <p><b>{{ plant.description }}</b></p>
{#                <p>By {{ plant.manager.nursery }}</p>#}
                <p>Rs. {{ plant.price }}</p>
              </left>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
