{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}

{% block header %}
    Customer Dashboard
{% endblock %}

{% block content %}
    <div id='shop' class="container row">
      {% for plant in plants %}
        <div class="center col s12 m12 l4" style="margin-top: 50px;">
          <div class="card">
            <div class="card-image">

              <span class="card-title white-text"><b>{{ plant.name|title }}</b></span><br>
                <img src="{{ plant.image.url }}" style="height: 150px;width: 150px"><br>
                <div class="card-content">
              <left>
                <p><b>Desc: </b>{{ plant.description }}</p>
{#                <p>By {{ plant.manager.nursery }}</p>#}
                <p>Rs. {{ plant.price }}</p>
              </left>
            </div>
              <a class="btn btn-primary" href="{% url 'user:cart_action' plant.id 1 %}"><b>Add to cart</b></a>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
