{% extends 'base.html' %}
{% block title %} Merchant {% endblock %}

{% block header %}
    Merchant Dashboard
{% endblock %}

{% block logout %}
    <div class="col-md-1">
        <a href="{% url 'user:logout' %}">Logout</a>
    </div>
{% endblock %}

{% block content %}
    <div class="container row">
        <h3 style="padding-left:10px ;">My Plants</h3>
        <div class=" col s12 m12 l4" style="margin-top: 50px;">
            <div class="center card">
              <div class="card-image">
                <a href="{% url 'user:addplant_form' %}"><img src="../../../media/background/add.jpg" style="height: 300px;"></a>
                <div class="card-content" style="height: 183px;">
                    <h5>Add a Plant</h5>
                </div>
              </div>
            </div>
          </div>
          {% for plant in myplants %}

        <div class=" col s12 m12 l4" style="margin-top: 50px;">
            <div class="center card">
              <div class="card-image">
                <img src="{{ plant.image.url }}" style="height: 300px;">
                <span class="card-title white-text">{{ plant.name|title }}</span>
              </div>
              <div class="card-content">
                <left>
                  <p>{{ plant.description }}</p>
                  <p>By {{ plant.manager.nursery }}</p>
                  <p>Rs. {{ plant.price }}</p>
                </left>
              </div>
              <div class="card-action">
                <a class="btn light-green darken-2" href="#">Click to know more</a>
              </div>
            </div>
          </div>
          {% endfor %}
    </div>

    <div class="container row">
      <h3 style="padding-left:10px ;">Orders Recieved</h3>

        {% for order in orders %}

      <div class=" col s12 m12 l4" style="margin-top: 50px;">
          <div class="center card">
            <div class="card-image">
              <img src="{{ order.product.image.url }}" style="height: 300px;">
              <span class="card-title black-text"></span>
            </div>
            <div class="card-content">
              <left>
                <p>{{ order.product.description }}</p>
                <p>Quantity: {{ order.quantity }}</p>
                <p>Amount: {{ order.get_total }}</p>
                <p>Customer: {{ order.order.customer }}</p>
                <p>Address: {{ address }}</p>
              </left>
            </div>

          </div>
        </div>
        {% endfor %}

    </div>
{% endblock %}
