{% extends 'base.html' %}
{% block title %} Merchant {% endblock %}

{% block header %}
    Orders
{% endblock %}


{% block content %}
    <h3>My Plants</h3><br>
    <h3 style="padding-left:10px ;"></h3>
    <a class="btn btn-primary" href="{% url 'user:addplant_form' %}"> Add Plant</a>

    <div class="container row" style="flex-direction: column">

          {% for plant in myplants %}

        <div class=" col s12 m12 l4" style="margin-top: 50px;">
            <div class="center card">
              <div class="card-image">
                  <span class="card-title white-text"><b>{{ plant.name|title }}</b></span><br>
                <img src="{{ plant.image.url }}" style="height: 300px;"><br>

              </div>
              <div class="card-content">
                <left>
                  <p style="text-align: justify-all">{{ plant.description }}</p>
{#                  <p>By {{ plant.manager.nursery }}</p>#}
                  <p>Rs. {{ plant.price }}</p>
                </left>
              </div>
            </div>
          </div>
          {% endfor %}
    </div>

    <div class="container row" style="flex-direction: column">
      <h3 style="padding-left:10px;margin-top: 50px">Orders Recieved</h3>

        {% for order in orders %}

      <div class=" col s12 m12 l4" style="margin-top: 50px;">
          <div class="center card">
            <div class="card-image">
              <img src="{{ order.product.image.url }}" style="height: 300px;">
              <span class="card-title black-text"></span>
            </div>
            <div class="card-content">
              <left>
                <p><b>Desc:</b> {{ order.product.description }}</p>
                <p><b>Quantity:</b> {{ order.quantity }}</p>
                <p><b>Amount:</b> {{ order.get_total }}</p>
                <p><b>Customer:</b> {{ order.order.customer }}</p>
{#                <p>Address: {{ address }}</p>#}
              </left>
            </div>

          </div>
        </div>
        {% endfor %}

    </div>
{% endblock %}
