{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block header %} Login here {% endblock %}
{% block content %}

    {% if message %}
        <p class="successfulMsg">{{ message }}</p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p style="margin:10px 10px auto">Username</p>
        <input type="text" name="username" id="Username" placeholder="Enter Username" required style="margin:10px 10px auto">
        <p style="margin:10px 10px auto">Password</p>
        <input type="password" name="password" id="Password" placeholder="Enter Password" required style="margin:10px 10px auto"><br>
        <button class="btn btn-primary" style="margin: 10px 10px auto;">Login</button>
        <p>
            <span style="padding: 0 0.5%">
                <a href="#">Forgot Password</a>
            </span>
            <span style="padding: 0 0.5%">
                <a href="{% url 'user:signup_index' %}">Register</a>
            </span>
        </p>
    </form>
{% endblock %}
